body {
    margin: 0;
    min-width: 100%;
    min-height: 100%;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: #000;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    font-family: 'Montserrat', sans-serif;
}

.hidden {
    display: none !important;
}

.show {
    display: block !important;
}

/* I N I T I A L   S C R E E N */

#player {
    width: 100%;
    height: 100%;
    position: relative;
}

#logo {
    display: block;
    position: relative;
    width: 600px;
    height: 300px;
    margin: auto;
    top: calc(50% - 150px);
    background-attachment: scroll;
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#ready-to-cast {
    text-align: center;
    font-size: 2rem;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    display: block;
    position: relative;
    top: calc(150px + 2rem);
    letter-spacing: 0.25rem;
}

/* V I D E O */

#video {
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

#video iframe,
#video #video-tag {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
    border: none;
    padding: 0;
    margin: 0;
    background-color: #000;
}

/* B A N N E R S */

#banners {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
}

.banner {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    background-attachment: scroll;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;
    z-index: 10;
}

.left {
    justify-content: flex-end;
}

.bottom {
    align-items: flex-end;
}

.right {
    justify-content: flex-start;
}

.banner.fade-in {
    z-index: 20;
}

.banner-content {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 50%;
}

.banner-logo {
    display: block;
    position: relative;
    width: 300px;
    height: 100px;
    background-attachment: scroll;
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 20px;
}

.banner-headlights {
    font-family: 'Anton', sans-serif;
    color: #fff;
    text-shadow: 2px 2px #000;
    font-size: 4rem;
}

.left .banner-logo {
    margin-left: auto;
}

.left .banner-headlights {
    text-align: right;
}

.fade-in {
    animation: fade 1s linear;
}

@-webkit-keyframes fade {
    0% {
        left: 100%;
        opacity: 0;
    }

    100% {
        left: 0;
        opacity: 1;
    }
}

@-moz-keyframes fade {
    0% {
        left: 100%;
        opacity: 0;
    }

    100% {
        left: 0;
        opacity: 1;
    }
}

@keyframes fade {
    0% {
        left: 100%;
        opacity: 0;
    }

    100% {
        left: 0;
        opacity: 1;
    }
}

/* P R O J E C T S   C U S T O M   S T Y L E S */

#initial.demo {
    background-color: #202020;
    color: #fff;
}

#initial.desenv {
    background-color: #202020;
    color: #fff;
}

#initial.staging {
    background-color: #202020;
    color: #fff;
}

#initial.verde {
    background-color: #073a29;
    color: #fff;
}

#initial.vermelho {
    background-color: #310012;
    color: #fff;
}